body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #aecef8, #fce7f3);
    margin: 0;
    padding: 0;
}

.login-container,
.dashboard-container {
    width: 400px;
    margin: 40px auto;
    background-color: rgb(247, 238, 238);
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0px 2px 10px rgba(0,0,0,0.2);
}

h1 {
    text-align: center;
}

p {
    text-align: center;
}

label {
    display: block;
    margin-top: 12px;
}

input,
select {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

button {
    width: 100%;
    padding: 12px;
    margin-top: 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.dashboard-menu {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.dashboard-menu a {
    text-decoration: none;
    background-color: #8fccf5;
    padding: 12px;
    border-radius: 5px;
    text-align: center;
    color: black;
}

.top-links {
    margin: 20px;
}

.top-links a {
    text-decoration: none;
}